#PORT
PORT=4000

# MONGO_URI
MONGO_URI=mongodb+srv://rayvishal2124_db_user:xVjaXkdaoM1isL7w@cluster0.pm1yyb1.mongodb.net/?appName=Cluster0

NODE_ENV=development

JWT_SECRET=ec1818enh5FCVH18N
JWT_EXPIRY=1d